<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>File browser</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="Content/Site.css">
</head>
<body data-ng-app="APIModule">
    <div ng-controller="APIController">
        <table>
            <tr>
                <th>Less 10Mb</th>
                <th>10Mb - 50Mb</th>
                <th>More 100Mb</th>
            </tr>
            <tbody>
                <tr>
                    <td>{{count[0]}}</td>
                    <td>{{count[1]}}</td>
                    <td>{{count[2]}}</td>
                </tr>
            </tbody>
        </table>
        <h4>Current path: <b>{{currentPath}}</b></h4>
        <a ng-click="saveSubs($event)" ng-show="dots">...</a>
        <div ng-repeat="file in currentFiles">
            <a ng-click="saveSubs($event)">{{file}}</a>
        </div>
    </div>
</body>
</html>
<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/APIScripts/Module.js"></script>
<script src="Scripts/APIScripts/Service.js"></script>
<script src="Scripts/APIScripts/Controller.js"></script>

